// font-color constants

$color-primary: rgba(0, 0, 0, 0.9);
$color-main: rgba(0, 0, 0, 0.75);
$color-light: rgba(0, 0, 0, 0.8);
$color-light2: rgba(0, 0, 0, 0.5);
$color-light3: rgba(0, 0, 0, 0.3);
$color-inactive: rgba(0, 0, 0, 0.1);

// background color constants

$color-gold: #DEC377;
$color-white: #FFFFFF;
$color-backround: #E5E5E5;
$accent40: rgba(222, 195, 119, 0.4);
$accent75: rgba(222, 195, 119, 0.75);
