@font-face{
    font-family: 'Commisioner-Regular, sans-serif';
    src: url('../../assets/fonts/Commissioner/Commissioner-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Commisioner-Bold, sans-serif';
    src: url('../../assets/fonts/Commissioner/Commissioner-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Commisioner-Medium, sans-serif';
    src: url('../../assets/fonts/Commissioner/Commissioner-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Lato-Regular, sans-serif';
    src: url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Lato-Light, sans-serif';
    src: url('../../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Lato-Bold, sans-serif';
    src: url('../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Sounce-Sans-Pro-Light, sans-serif';
    src: url('../../assets/fonts/Source_Sans_pro/SourceSansPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Sounce-Sans-Pro-Regular, sans-serif';
    src: url('../../assets/fonts/Source_Sans_pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Fira-Sans-extra-bold, sans-serif';
    src: url('../../assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}