body {
    background-color: $color-backround;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.wrapper {
    width: 1170px;
}

.subtitle2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: $color-main;
}

h2 {
    @include font(Commissioner, normal, normal, 40px, 50px, $color-main);
    letter-spacing: 0.01em;
}

h3 {
    @include font(Commissioner, normal, normal, 28px, 40px, $color-primary);
    letter-spacing: 0.03em;
}

h4 {
    @include font(Commissioner, normal, normal, 26px, 40px, $color-gold);
    letter-spacing: 0.01em;
}

h5 {
    @include font(Commissioner, normal, normal, 26px, 45px, $color-primary);
}

h6 {
    @include font(Commissioner, normal, normal, 20px, 30px, $color-primary);
}

.button {
    background-color: $color-gold;
    border: none;
    outline: none;
    width: 12.5rem;
    @include font(Commissioner, normal, bold, 13px, 30px, $color-white);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    cursor: pointer;
    padding: 9px 0;
    border-radius: 2px;

    &:hover {
        background-color: $accent75;
    }
}

.button-additional {
    @include font(Lato, normal, 600, 12px, 20px, $color-light2);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: 0;
    margin: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
        color: $color-primary;
    }
}

a {
    text-decoration: none;
}

.hide-block {
    animation: hide-block 1s linear;
}

.inactivity {
    pointer-events: none;
    opacity: 0.2;
}

@keyframes hide-block {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

.show-block {
    animation: show-block 1s linear;
}

@keyframes show-block {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1170px) {
    .wrapper {
        width: 100vw;
        padding: 0 20px
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }
}