.clients {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    padding: 100px 0 90px;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 48px;

        &-title {
            display: flex;
        }

        &-text {
            width: 670px;
            @include font(Lato, normal, 300, 15px, 25px, $color-light2);
        }

        &-form {
            margin-left: 100px;
        }

        &-icon {
            display: flex;
            justify-content: space-between;
            padding: 0 21px;
            filter: grayscale(100%);
        }
    }
}

.clients-button {
    background: 0;
    color: $color-gold;
    border: 2px solid $color-gold;

    &:hover {
        color: $color-white;
        transition: .3s ease-in-out;
    }
}

@media screen and (max-width: 1024px) {
    .clients {
        &-content {
            &-title {
                flex-direction: column;
                row-gap: 20px;
                align-items: center;
            }
            &-text {
                width: 100%;
            }
            &-form {
                margin: 0;
            }
            &-icon {
                width: 100%;
                column-gap: 20px;
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .clients {
        &-content {
            &-text {
                text-align: justify;
                padding: 0 10px;
            }
        }
    }
}