.cooperation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0;

    &-content {
        display: flex;
        width: 100%;

        &-description {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            width: 500px;
            margin-right: 100px;
            row-gap: 33px;

            &-circle {
                min-width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $color-gold;
                border-radius: 50%;

                & span {
                    @include font(Commisioner, normal, 800, 22px, 67px, $color-gold);
                }
            }

            &-subtitle {
                @include font(Lato, normal, bold, 15px, 25px, $color-light);
                max-width: 400px;
            }

            &-text {
                display: flex;
                align-items: center;
                column-gap: 30px;
            }

            &-signature {
                @include font(Lato, normal, 300, 14px, 25px, $color-light);
                letter-spacing: 0.01em;
            }
        }

        &-opposite {
            max-width: 570px;
            width: 570px;
            background-color: $color-white;
            padding: 0 50px;

            &-form {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                & input {
                    border: none;
                    border-bottom: 1px solid $color-inactive;
                    outline: none;
                    height: 30px;
                    padding-left: 10px;

                    &::placeholder {
                        @include font(Lato, normal, 300, 15px, 25px, $color-light2);
                        opacity: 0.6;
                    }
                }

                &-name {
                    margin-top: 40px;
                    @include font(Commisioner, normal, bold, 13px, 20px, $color-light);
                    letter-spacing: 0.01em;
                    margin-bottom: 8px;
                }

                &-tel {
                    margin-top: 20px;
                    @include font(Commisioner, normal, normal, 13px, 20px, $color-light2);
                    letter-spacing: 0.01em;
                    margin-bottom: 11px;
                }

                &-politic {
                    margin-top: 20px;
                    margin-bottom: 26px;
                    @include font(Lato, normal, 300, 13px, 21px, $color-light2);

                    & a {
                        text-decoration: none;
                        @include font(Lato, normal, bold, 13px, 20px, $color-light2);
                        font-weight: bold;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
}

.opposite-button {
    width: 100%;
}