.count {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    &-content {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        max-width: 670px;

        &-description {
            @include font(Lato, normal, 300, 15px, 25px, $color-light2);
        }
    }
}

@media screen and (max-width:768px) {
    .count-content {
        align-items: center;
        &-description {
            text-align: justify;
        }
    }
}