.dignity {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;

    &-card {
        height: 335px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-title {
            margin-bottom: 35px;
        }
    }

    &-description {
        margin-top: 40px;
        padding: 40px 0 45px 50px;
        background-color: $color-white;

        &-text {
            @include font(Lato, normal, 300, 15px, 25px, $color-light2);
            max-width: 750px;
        }
    }
}

@media screen and (max-width: 768px) {
    .dignity {
        &-description {
            padding: 50px 10px 10px;
            text-align: justify;
        }
        &-content-title {
            text-align: center;
        }
    }
}
