.slide {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    &-content {
        position: relative;

        &-arrow-left,
        &-arrow-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &:hover {
                cursor: pointer;
                opacity: .5;
            }
        }

        &-arrow-left {
            left: -50px;
        }

        &-arrow-right {
            right: -50px;
        }
    }

}