.directions2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    &-content {
        height: 12.5rem;
        display: flex;
        justify-content: space-between;

        &-subtitle {
            width: 84%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-family: 'Lato-Light', sans-serif;
            font-size: 15px;
            line-height: 25px;
            color: $color-light;
        }
    }
}