.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    border-top: 1px solid $color-inactive;
    column-gap: 30px;

    &-content {
        display: flex;
        column-gap: 30px;
    }

    &-company {
        display: flex;
        flex-direction: column;
        width: 270px;
        min-width: 270px;
        margin-top: 50px;

        &-name {
            @include font(Commisioner, normal, normal, 20px, 30px, $color-primary);
            text-transform: uppercase;
        }

        &-data {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-id {
                display: flex;
                flex-direction: column;
                margin-top: 70px;
                margin-bottom: 60px;
                row-gap: 10px;

                &-title {
                    @include font(Commisioner, normal, 500, 13px, 20px, $color-light2);
                    letter-spacing: 0.01em;
                }

                &-subtitle {
                    @include font(Lato, normal, 300, 13px, 20px, $color-light2);
                    padding-left: 15px;
                }
            }

            &-icons {
                display: flex;
                width: 100%;
                column-gap: 15px;
            }

            &-sitemap {
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                row-gap: 30px;
                @include font(Lato, normal, 600, 12px, 20px, $color-main);
                letter-spacing: 0.02em;
                text-transform: uppercase;

                & p {
                    max-width: 162px;
                }

                & img {
                    height: fit-content;
                    padding-left: 15px;
                }
            }
        }
    }

    &-office {
        margin-top: 85px;
        width: 670px;
        min-width: 670px;
        display: flex;
        flex-direction: column;

        &-title {
            @include font(Lato, normal, normal, 15px, 31px, $color-light2);
            text-transform: uppercase;
            border-bottom: 1px solid $color-inactive;
            opacity: 0.7;
        }

        &-content {
            display: flex;
            column-gap: 35px;
        }

        &-contacts {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 200px;

            &-title,
            &-region-title {
                @include font(Commisioner, normal, normal, 14px, 25px, $color-main);
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }

            &-phones {
                display: flex;
                flex-direction: column;

                & a {
                    @include font(Lato, normal, 300, 13px, 20px, $color-light2);
                }
            }

            &-adress {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                &-title {
                    @include font(Commisioner, normal, 300, 13px, 20px, $color-main);
                    letter-spacing: 0.01em;
                }

                &-location {
                    width: 85%;
                    @include font(Lato, normal, 300, 13px, 20px, $color-light2);
                }

                &-email a {
                    @include font(Commisioner, normal, normal, 13px, 20px, $color-light);
                }
            }

            &-region {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                width: 200px;
                max-height: 470px;
                flex-wrap: wrap;
                column-gap: 35px;
                row-gap: 35px;

                &-title {
                    margin-bottom: 9px;
                }
            }
        }
    }

    &-time {
        margin-top: 85px;
        width: 200px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}