h1 {
    display: none;
}

.header {
    position: sticky;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: $color-white;

    &-wrapper {
        position: relative;
        width: 1230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        line-height: 2.1875rem;
        align-items: center;

        &-form {
            color: $color-light;

            &__title {
                @include font(Sounce Sans Pro, normal, 300, 16px, 20px, $color-light2);
            }

            & select {
                @include font(Sounce Sans Pro, normal, normal, 16px, 20px, $color-light2);
                border: none;
                outline: none;
                cursor: pointer;
            }

            &__option {
                @include font(Sounce Sans Pro, normal, normal, 16px, 20px, $color-light2);
            }
        }

        &-eyes {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }

        &-contacts {
            display: flex;
            column-gap: 15px;
            min-width: 50%;
            justify-content: flex-end;

            &-column {
                display: flex;
                column-gap: 15px;
            }

            & a {
                @include font(Commisioner, normal, normal, 14px, 20px, $color-light2);
            }

            &-icon {
                display: flex;
                column-gap: 10px;
            }
        }
    }

    &-bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}

.mobile-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    top: 90px;
    right: 53px;
    z-index: 4;
    
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: .4s;
    }
    
    &__icon {
        display: block;
        position: relative;
        background-color: $color-gold;
        width: 30px;
        height: 3px;
        transition: .4s;
        z-index: 3;

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            background: $color-gold;
            width: 30px;
            height: 3px;
            transition: .4s;
            z-index: 3;
        }
        
        &::after {
            top: -10px;
        }

        &::before {
            top: 10px;
        }
    }
  
    &__container {
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: -320px;
        z-index: 2;
        height: 100vh;
        width: 320px;
        opacity: 1;
        transition: .5s;
        transition-delay: .2s;
        overflow: hidden;
        background-color: #292929;
    }
    
    &__list {
        transition: .5s;
        transition-delay: .5s;
        list-style: none;
        padding-left: 0;
    }
  
    &__item {
        font-size: 32px;
        padding-bottom: 40px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 51px;
    }
  
    &__link {
        color: $color-gold;
        text-transform: uppercase;

        &:hover {
            color: $color-white;
        }

        &-active {
            border-bottom: 3px solid #FAFAFA;
            color: #FAFAFA;
        }
    }
   
    &__checkbox {
        display: none;
  
        &:checked ~ {
            .mobile-menu {
  
                &__container {
                    height: 100vh;
                    right: 0;
                    transition-delay: 0s;
                }
  
                &__btn {
                  .mobile-menu__icon {
    
                        &::before {
                            top: 0px;
                        }
                        &::after {
                            top: 0px;
                        }
        
                        &::after {
                            transform: rotate(90deg);
                        }
        
                        &::before {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
}

.mobile-menu {
    display: none;
}

.navigation {
    &-list {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
    }

    &-link {
        text-transform: uppercase;
        @include font(Commisioner, normal, bold, 14px, 20px, $color-main);
        letter-spacing: 0.03em;

        &:hover {
            color: $color-light2;
        }
    }
}

@media screen and (max-width: 1250px) {
    .header-wrapper {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px) {
    .header {
        &-top {
            &-contacts {
                flex-wrap: wrap;
                

                &-column {
                    width: 100%;
                    justify-content: flex-end;
                }
            }
        }
    }

    .navigation {
        &-list {
            column-gap: 10px;
        }

        &-link {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
    .mobile-menu {
        display: block;
        top: 120px;
        right: 10px;
    }
    .header-top-eyes {  
        display: none;
    }
    .header {
        height: 200px;
    }
    .header-top {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 580px) {
    .header-top-contacts {
        width: 100%;
        &-column {
            justify-content: center;
        }
    }
}