.introduction {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    &-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: $color-white;
        height: 645px;
    }

    &-information {
        width: 540px;
        margin-left: 70px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        &-content {
            display: flex;
            row-gap: 24px;
            width: 29.375rem;
            flex-wrap: wrap;
            @include font(Lato, normal, 300, 15px, 25px, $color-light2);
        }
    }
}

@media screen and (max-width: 1080px) {
    .introduction {
        &-content {
            height: auto;
        }

        &-image {
            display: none;
        }
        &-information {
            margin: 70px 50px;
            width: 100%;
            &-content {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .introduction {
        &-information {
            margin: 50px 20px;
        }
    }
}