.list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;

    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 30px;
            margin-top: 35px;
            margin-bottom: 50px;
        }

        &-background {
            height: 100%;
            width: 70px;
        }

        &-card {
            display: flex;
            height: 140px;
            background-color: $color-white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

            &-row1 {
                display: grid;
                grid-template-columns: 470px 670px;
                column-gap: 30px;

                .list-content-background {
                    background-color: $accent40;
                }
            }
            &-row2 {
                display: grid;
                grid-template-columns: 570px 570px;
                column-gap: 30px;

                .list-content-background {
                    background-color: $accent75;
                }
            }
            &-row3 {
                display: grid;
                grid-template-columns: 670px 470px;
                column-gap: 30px;

                .list-content-background {
                    background-color: $color-gold;
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;

                & h6 {
                    padding: 25px 30px 0 30px;
                }
            }

            &-button {
                text-align: right;
                padding-right: 30px;
                padding-bottom: 20px;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 100px;

            &-description {
                width: 65.8%;
                @include font('Lato-Light, sans-serif', 15px, 25px, $color-light);
            }
        }
    }
}