.slider {
    max-width: 100%;
    background: center, no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    transition: 1s ease-in-out;

    &-section {
        display: flex;
        height: 650px;
        flex-direction: column;
    }

    &-content {
        margin-top: 162px;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            max-width: 570px;
            transition: 2s;
        }

        &-subtitle {
            @include font(Lato, normal, 300, 15px, 25px, $color-light);
            max-width: 470px;
            transition: 2s;
        }
    }

    &-arrows {
        width: 7.5rem;
        height: 3.75rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 89px;

        &__left,
        &__right {
            cursor: pointer;
            text-align: center;

            &:hover {
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .slider {
        background-position: 65% 50%;
    }
}

@media screen and (max-width: 520px) {
    .slider-content {
        width: 100%;
        text-align: center;
    }
}