.reklama {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 200px;
    
    &-content {
        display: flex;
        justify-content: center;
        background: $color-inactive;

        &-title {
            @include font(Fira Sans, normal, 800, 100px, 120px, $color-inactive);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-top: 37px;
            margin-bottom: 43px;
        }
    }
}