.services-slide {
    display: flex;
    max-width: 1920px;
    justify-content: center;
    background-image: url(../../../assets/images/services/image/slider.png);

    &-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 85px;
    }

    &-crumb {
        margin-top: 35px;
        @include font(Lato, normal, 300, 13px, 20px, $color-light2);
        
        & span {
            padding-right: 5px;
            border-right: 1px solid $color-light2;

            &:last-child {
                border: none;
            }
        }
    }

    &-title {
        margin-top: 65px;
    }

    &-button {
        margin-top: 30px;
    }
}
