* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  max-width: 1920px;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
}

body {
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper {
  width: 1170px;
}

h2 {
  font-family: 'Commissioner-Regular', sans-serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.78px;
  color: rgba(0, 0, 0, 0.9);
}

h3 {
  font-family: 'Commissioner-Regular', sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1.1px;
  color: rgba(0, 0, 0, 0.9);
}

h4 {
  font-family: 'Commisioner-Bold', sans-serif;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 1.1px;
  color: #DEC377;
}

h5 {
  font-family: 'Commissioner-Regular', sans-serif;
  font-size: 26px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.9);
}

h6 {
  font-family: 'Commissioner-Regular', sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.1px;
  color: rgba(0, 0, 0, 0.9);
}

.button {
  background-color: #DEC377;
  border: none;
  outline: none;
  width: 12.5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Commisioner-Bold', sans-serif;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 1.1px;
  cursor: pointer;
  padding: 9px 0;
  border-radius: 2px;
}

.button:hover {
  background-color: rgba(222, 195, 119, 0.75);
}

.button-additional {
  font-family: 'Lato-Bold', sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  background: 0;
  padding: 0;
  margin: 0;
}

.button-additional:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Commisioner-Regular, sans-serif';
  src: url("../../assets/fonts/Commissioner/Commissioner-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Commisioner-Bold, sans-serif';
  src: url("../../assets/fonts/Commissioner/Commissioner-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Commisioner-Medium, sans-serif';
  src: url("../../assets/fonts/Commissioner/Commissioner-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular, sans-serif';
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light, sans-serif';
  src: url("../../assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold, sans-serif';
  src: url("../../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sounce-Sans-Pro-Light, sans-serif';
  src: url("../../assets/fonts/Source_Sans_pro/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sounce-Sans-Pro-Regular, sans-serif';
  src: url("../../assets/fonts/Source_Sans_pro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira-Sans-extra-bold, sans-serif';
  src: url("../../assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

h1 {
  display: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.header-wrapper {
  position: relative;
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-form {
  color: rgba(0, 0, 0, 0.8);
}

.header-top-form__title {
  font-family: "Sounce-Sans-Pro-Light, sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.header-top-form select {
  font-family: "Sounce-Sans-Pro-Regular, sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  cursor: pointer;
}

.header-top-eyes {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  min-width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top-contacts-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.header-top-contacts a {
  text-decoration: none;
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.header-top-contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Commisioner-Medium, sans-serif";
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.03em;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1250px) {
  .header-wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1020px) {
  .header-top-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-top-contacts-column {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navigation-list {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.slider {
  width: 100%;
  background-image: url(../../assets/images/slides/slider1.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-content {
  margin-top: 162px;
  width: 31.25rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-arrows {
  width: 7.5rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 89px;
}

.slider-arrows__left, .slider-arrows__right {
  cursor: pointer;
  text-align: center;
}

.slider-arrows__left:hover, .slider-arrows__right:hover {
  opacity: .7;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -90px;
}

.advantages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.advantages-card {
  row-gap: 25px;
  width: 100%;
  padding: 40px 20px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-card:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.advantages-card__image {
  width: 7.5rem;
  height: 7.5rem;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.advantages-card__subtitle {
  font-family: "Lato-Regular, sans-serif";
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  letter-spacing: 0.02em;
}

.introduction {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #FFFFFF;
  height: 645px;
}

.introduction-information {
  padding: 52px 60px 70px 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction-information-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29.375rem;
  height: 26.5625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.directions-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.directions-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.directions-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23.125rem;
  height: 8.75rem;
  background-color: #FFFFFF;
  padding-left: 40px;
}

.directions-content-card-subtitle {
  width: 12rem;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-content-card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.directions2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.directions2-content {
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions2-content-subtitle {
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.slide-content {
  position: relative;
}

.slide-content-arrow-left, .slide-content-arrow-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slide-content-arrow-left:hover, .slide-content-arrow-right:hover {
  cursor: pointer;
  opacity: .5;
}

.slide-content-arrow-left {
  left: -50px;
}

.slide-content-arrow-right {
  right: -50px;
}

.reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  margin-top: -116px;
  padding-top: 212px;
}

.reviews-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 740px;
}

.reviews-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.reviews-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 48.5%;
  height: 585px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.reviews-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 50px 60px 50px;
}

.reviews-card-profession {
  font-family: "Lato-Regular, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.reviews-card-text {
  font-family: "Lato-Light, sans-serif";
  font-size: 14px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.01em;
}

.reviews-card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.reviews-card-buttons__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-card-buttons__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.reviews-card-buttons__point:hover {
  cursor: pointer;
  opacity: .5;
}

.reviews-card-buttons-arrows {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-card-buttons-arrows span {
  display: block;
  width: 50%;
  text-align: center;
}

.reviews-card-buttons-arrows span:hover {
  cursor: pointer;
  opacity: .5;
}

.point-active {
  border-bottom: 10px solid #DEC377;
  pointer-events: none;
}

.clients {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.clients-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}

.clients-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-content-text {
  width: 670px;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.clients-content-form {
  margin-left: 100px;
}

.clients-content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 21px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.clients-button {
  background: 0;
  color: #DEC377;
  border: 2px solid #DEC377;
}

.clients-button:hover {
  color: #FFFFFF;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.triangle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.triangle-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.triangle-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 570px;
  height: 305px;
  padding: 0 55px;
  row-gap: 15px;
  background-color: #FFFFFF;
}

.triangle-content-card-text, .triangle-content-card-text__bottom {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.triangle-content-card-title__bottom {
  min-width: 320px;
  padding-bottom: 23px;
}

.triangle-content-bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 185px;
  padding: 0 55px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background-color: #FFFFFF;
}

.corner {
  position: relative;
}

.top-right-triangle {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  background-color: #DEC377;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 100%);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.list-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.list-content-background {
  height: 100%;
  width: 70px;
}

.list-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.list-content-card-row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 470px 670px;
      grid-template-columns: 470px 670px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.list-content-card-row1 .list-content-background {
  background-color: rgba(222, 195, 119, 0.4);
}

.list-content-card-row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 570px 570px;
      grid-template-columns: 570px 570px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.list-content-card-row2 .list-content-background {
  background-color: rgba(222, 195, 119, 0.75);
}

.list-content-card-row3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 670px 470px;
      grid-template-columns: 670px 470px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.list-content-card-row3 .list-content-background {
  background-color: #DEC377;
}

.list-content-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.list-content-card-text h6 {
  padding: 25px 30px 0 30px;
}

.list-content-card-button {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 20px;
}

.list-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.list-content-bottom-description {
  width: 65.8%;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.trust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.trust-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trust-content-trait {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.trust-content-card {
  width: 90.5%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 150px;
          column-gap: 150px;
}

.trust-content-card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  row-gap: 30px;
}

.trust-content-card-text {
  width: 470px;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.trust-content-card-chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 25px;
}

.trust-content-card-chips-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.trust-content-card-chips-circle {
  position: relative;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: 1px solid rgba(222, 195, 119, 0.4);
  border-radius: 50%;
}

.trust-content-card-chips-circle:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  border-top: 10px solid #DEC377;
  border-radius: 50%;
}

.trust-content-card-chips-title {
  font-family: "Lato-Bold, sans-serif";
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
}

.dignity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.dignity-card {
  height: 335px;
}

.dignity-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.dignity-content-title {
  margin-bottom: 35px;
}

.dignity-description {
  margin-top: 40px;
  padding: 40px 0 45px 50px;
  background-color: #FFFFFF;
}

.dignity-description-text {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  max-width: 750px;
}

.cooperation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.cooperation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cooperation-content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  width: 500px;
  margin-right: 100px;
  row-gap: 33px;
}

.cooperation-content-description-circle {
  min-width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DEC377;
  border-radius: 50%;
}

.cooperation-content-description-circle span {
  font-family: "Commisioner-Bold, sans-serif";
  font-size: 22px;
  line-height: 67px;
  color: #DEC377;
  font-weight: 800;
}

.cooperation-content-description-subtitle {
  font-family: "Lato-Regular, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  max-width: 400px;
}

.cooperation-content-description-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.cooperation-content-description-signature {
  font-family: "Lato-Light, sans-serif";
  font-size: 14px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  letter-spacing: 0.01em;
}

.cooperation-content-opposite {
  max-width: 570px;
  width: 570px;
  background-color: #FFFFFF;
  padding: 0 50px;
}

.cooperation-content-opposite-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.cooperation-content-opposite-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  height: 30px;
  padding-left: 10px;
}

.cooperation-content-opposite-form input::-webkit-input-placeholder {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.cooperation-content-opposite-form input:-ms-input-placeholder {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.cooperation-content-opposite-form input::-ms-input-placeholder {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.cooperation-content-opposite-form input::placeholder {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.cooperation-content-opposite-form-name {
  margin-top: 40px;
  font-family: "Commisioner-Bold, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}

.cooperation-content-opposite-form-tel {
  margin-top: 20px;
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
  margin-bottom: 11px;
}

.cooperation-content-opposite-form-politic {
  margin-top: 20px;
  margin-bottom: 26px;
  font-family: "Lato-Light, sans-serif";
  font-size: 13px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}

.cooperation-content-opposite-form-politic a {
  text-decoration: none;
  font-family: "Lato-Bold, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.opposite-button {
  width: 100%;
}

.count {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.count-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  max-width: 670px;
}

.count-content-description {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  min-width: 270px;
  margin-top: 50px;
}

.footer-company-name {
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.footer-company-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer-company-data-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  margin-bottom: 60px;
  row-gap: 10px;
}

.footer-company-data-id-title {
  font-family: "Commisioner-Medium, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
}

.footer-company-data-id-subtitle {
  font-family: "Lato-Light, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
}

.footer-company-data-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.footer-company-data-sitemap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  row-gap: 30px;
  font-family: "Lato-Regular, sans-serif";
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.footer-company-data-sitemap p {
  max-width: 162px;
}

.footer-company-data-sitemap img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 15px;
}

.footer-office {
  margin-top: 85px;
  width: 670px;
  min-width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-office-title {
  font-family: "Lato-Regular, sans-serif";
  font-size: 15px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}

.footer-office-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.footer-office-contacts {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: 200px;
}

.footer-office-contacts-title, .footer-office-contacts-region-title {
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 14px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer-office-contacts-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-office-contacts-phones a {
  font-family: "Lato-Light, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.footer-office-contacts-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.footer-office-contacts-adress-title {
  font-family: "Commisioner-Medium, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.01em;
}

.footer-office-contacts-adress-location {
  width: 85%;
  font-family: "Lato-Light, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.footer-office-contacts-adress-email a {
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.footer-office-contacts-region {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  max-height: 470px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 35px;
}

.footer-office-contacts-region-title {
  margin-bottom: 9px;
}

.footer-time {
  margin-top: 85px;
  width: 200px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.1);
}

.autor-content {
  font-family: "Lato-Light, sans-serif";
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  letter-spacing: 0.02em;
}

.services-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../../../assets/images/services/image/slider.png);
}

.services-slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 85px;
}

.services-slide-crumb {
  margin-top: 35px;
  font-family: "Lato-Light, sans-serif";
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.services-slide-crumb span {
  padding-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.services-slide-crumb span:last-child {
  border: none;
}

.services-slide-title {
  margin-top: 65px;
}

.services-slide-button {
  margin-top: 30px;
}

.nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.nav-list {
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.nav-list li:hover {
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.nav-list li a {
  text-decoration: none;
  font-family: "Lato-Regular, sans-serif";
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.02em;
}

.active-item {
  border-bottom: 5px solid #DEC377;
}

.active-link {
  color: #DEC377 !important;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product-content-title {
  text-transform: uppercase;
  font-family: "Commisioner-Regular";
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.03em;
}

.product-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.product-content-card {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 25px 25px 40px;
  width: 48.5%;
  min-width: 48.5%;
  height: 170px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.product-content-card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 380px;
}

.product-content-arrow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-content-arrow-item {
  height: 40px;
  width: 40px;
  font-family: "Commisioner-Bold, sans-serif";
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

.product-content-arrow-item:hover {
  cursor: pointer;
  opacity: .7;
}

.item-active {
  color: rgba(0, 0, 0, 0.9);
}

.arrow-inactive {
  opacity: 0.1;
}

.reklama {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.reklama-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

.reklama-content-title {
  font-family: "Fira-Sans-extra-bold, sans-serif";
  font-size: 100px;
  line-height: 120px;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 43px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -45px;
  background-color: #FFFFFF;
}

.information-content {
  padding-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.information-content-title {
  font-family: "Commissioner-Regular, sans-serif";
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.information-content-text {
  margin-bottom: 30px;
  max-width: 730px;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.information-content-subtitle {
  min-width: 570px;
  font-family: "Lato-Regular, sans-serif";
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
}

.information-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 130px;
          column-gap: 130px;
}

.information-content-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-left: 68px;
}

.information-content-block-item-circle {
  display: block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  border-top: 10px solid #DEC377;
  border-radius: 50%;
}

.information-content-block-item-text {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.information-content-block-description {
  max-width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.information-content-block-subdescription {
  width: 370px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information-content-block-subdescription-text {
  width: 270px;
  font-family: "Lato-Regular, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../../../assets/images/services/image/priziv.png);
  height: 120px;
}

.middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.middle-content-title h5 {
  color: #FFFFFF;
}

.middle-button {
  width: 300px;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.registration-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.registration-content-description {
  width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-content-description-title {
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.registration-content-description-text {
  font-family: "Lato-Bold, sans-serif";
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.registration-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-height: 380px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration-content-item {
  min-width: 48.5%;
}

.registration-content-text {
  min-width: 430px;
}

.documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.documents-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  row-gap: 30px;
}

.documents-content-description {
  max-width: 48%;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.documents-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.documents-content-block-title {
  font-family: "Lato-Bold, sans-serif";
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.documents-content-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding: 40px 40px 0 70px;
  row-gap: 30px;
  max-height: 525px;
}

.documents-content-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.aspects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.aspects-content {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.aspects-content-title {
  width: 370px;
  max-width: 370px;
  padding-right: 30px;
  margin-top: 40px;
}

.aspects-content-block {
  position: relative;
  background-color: #FFFFFF;
  max-width: 770px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 40px 50px 40px;
}

.aspects-content-block-title {
  margin-bottom: 30px;
  font-family: "Lato-Bold, sans-serif";
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  letter-spacing: 0.01em;
}

.aspects-content-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.aspects-content-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.aspects-content-block-item-text {
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.trait {
  width: 100%;
  height: 100px;
  background-image: url(../../../assets/images/services/image/subimage.png);
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #FFFFFF;
}

.order-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}

.order-section-name {
  font-family: "Commisioner-Regular, sans-serif";
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.order-section-title {
  max-width: 770px;
  margin-bottom: 30px;
}

.order-section-description {
  width: 670px;
  max-width: 670px;
  font-family: "Lato-Bold, sans-serif";
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-bottom: 40px;
}

.order-section-block {
  margin-bottom: 100px;
}

.order-section-card {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.services-cooperation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.services-cooperation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.services-cooperation-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-height: 365px;
}

.services-cooperation-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.services-cooperation-bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-left: 70px;
  font-family: "Lato-Light, sans-serif";
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.services-cooperation-bottom-text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  max-width: 270px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.services-cooperation-bottom-text-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.services-cooperation-bottom-text-list li a {
  font-family: "Lato-Light, sans-serif";
  font-size: 14px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.01em;
}
/*# sourceMappingURL=style.css.map */